.banner {
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/5GISMqlRXMEyBrgEqyvhaMMuQmJ.jpg');
}

.active {
  background-color: rgb(226 232 240);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all .1s ease-in;
  color: rgb(5, 69, 84);;
}

.page-active {
  background: rgb(8, 35, 54);
  color: #fff;
}

.not-active {
  background: rgb(211, 211, 211);
  color: #000;
}